fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator
fastapi-mail
requests
pyotp
cryptography
qrcode[pil]
alembic
pytest
